{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:promise/recommended",
    "plugin:jsdoc/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["import", "promise", "jsdoc", "prettier"],
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "import/order": "off",
    "jsdoc/require-jsdoc": [
      "warn",
      {
        "require": {
          "FunctionDeclaration": false
        },
        "contexts": ["FunctionDeclaration:not([id.name=/^[A-Z].+/])"]
      }
    ],
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off",
    "promise/always-return": "off"
  }
}
